<span>
    <td><router-link :to="{ name: 'productpage', params: {product_id: product.id }}">{{product.name}}</router-link></td>
    <td>{{product.description | spoiler(100)}}</td>
    <td>{{product.price}}</td>
    <td><img :src = "product.photo" width="100"></td>
</span>