<div v-if="!$store.state.loadingData">
    <vue-slider ref="slider" v-model="priceSlider.value":min="priceSlider.min":max="priceSlider.max"></vue-slider>
    <select v-model="sortType">
        <option disabled value="">Выберите один из вариантов сортировки</option>
        <option value="sortbynameasc">По названию (А-Я)</option>
        <option value="sortbynamedesc">По названию (Я-A)</option>
        <option value="sortbypriceasc">От дешевых к дорогим</option>
        <option value="sortbypricedesc">От дорогих к дешевым</option>
    </select>
    <table><tr v-for="item in productlist" v-on:click="recordDataInOnclickId(item.id)" v-bind:class="{active:item.id==onclickId}">
        <product :product="item"></product></tr>
    </table>
    </div>
<div v-else>Подождите, идет загрузка</div>